.App {
    margin: auto;
}

.SearchForm {
    max-width: 80%;
    margin: auto;
    padding-bottom: 20px;
}

h1 {
    padding-bottom: 10px;
}

h1, .SearchForm {
    text-align: center;
}

#tableMovementLinks {
    float: right;
    align-content: flex-end;
}